.env
RLM_Booking/RLM-docs/site/
venv/
myenv/
__pycache__/
RLM_Booking/apps/__pycache__/
RLM_Booking/apps/artist_recommendation/__pycache__/
RLM_Booking/apps/concert_performance/__pycache__/
RLM_Booking/apps/event_management/__pycache__/
RLM_Booking/apps/marketing_tools/__pycache__/
RLM_Booking/data_processing/__pycache__/
RLM_Booking/data_processing/utils/__pycache__/
RLM_Booking/integrations/__pycache__/
RLM_Booking/RLM_Booking_Main/__pycache__/
RLM_Booking/shared_services/__pycache__/
