.env
RLM_Booking/RLM-docs/site/
venv/
myenv/
__pycache__/
apps/__pycache__/
apps/artist_recommendation/__pycache__/
apps/concert_performance/__pycache__/
apps/event_management/__pycache__/
apps/marketing_tools/__pycache__/
data_processing/__pycache__/
data_processing/utils/__pycache__/
integrations/__pycache__/
RLM_Booking_Main/__pycache__/
shared_services/__pycache__/
